<div class="container">
  <h3>Users</h3>
  <app-show-errors [errors]="errors"></app-show-errors>

  <app-general-list [list]="users">
    <ng-container content>
      <table
        mat-table
        [dataSource]="users"
        class="mat-elevation-z8 table-index"
      >
        <ng-container matColumnDef="No.">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element = index">{{ element + 1 }}</td>
        </ng-container>
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>User name</th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let element"> {{ element.phonenumber }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <app-authorize-view [role]="'admin'">
              <ng-container authorized> Actions </ng-container>
            </app-authorize-view>
          </th>
          <td mat-cell *matCellDef="let element">
            <app-authorize-view [role]="'admin'">
              <ng-container authorized>
                <div style="display: inline; margin-right: 15px;">
                  <mat-icon
                  mat-flat-button
                  color="primary"
                  [swal]="{
                    title: 'Confirmation',
                    text: 'Are you sure that you want to make the user an admin?',
                    showCancelButton: true
                  }"
                (confirm)="makeAdmin(element.id)"
                >how_to_reg</mat-icon>
              </div>
              <div style="display: inline;">
                <mat-icon
                  mat-flat-button
                  color="warn"
                  [swal]="{
                    title: 'Confirmation',
                    text: 'Are you sure that you want to remove the user as an admin?',
                    showCancelButton: true
                  }"
                  (confirm)="removeAdmin(element.id)"
                >delete_forever</mat-icon>
              </div>    
              </ng-container>
            </app-authorize-view>            
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </table>
      <div>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20, 50]"
          showFirstLastButtons
          [length]="totalAmountOfRecords"
          [pageSize]="pageSize"
          (page)="updatePagination($event)"
          class="mat-elevation-z8"
        ></mat-paginator>
      </div>
    </ng-container>
  </app-general-list>
</div>
