.container{
  background-color: #1f1f1f;
  margin-left: 1.5rem;
}
.movie-container {
 margin-bottom: 10px;
 text-align: center;
 margin-left: -26px;
}
.movies-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  font-family: "Roboto, Helvetica Neue", Arial, Helvetica, sans-serif; 
}
p{
  height:30px;
  font-size: 15px;
  font-weight: bold; 
  width: 225px;
  word-break: break-all;
  margin-left: 1rem;
}
img{
  width: 200px;
  height: 300px;  
}
button{
  margin-left: 1em;
}
.title{
  color: white;
  text-decoration: unset;
}
.title:hover{
  text-decoration: underline;
}
mat-icon{
  cursor: pointer;
}